.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://edugeography.com/images/rocky-mountains/rocky-mountains-04.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #ffd;
  font-size: 54px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 29px;
  color: #fff;
  font-weight: bold;
}

.learn-more {
  background-color: #393c3d;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #fff;
}

.neighborhood-guides {
    background-color: #efefef
    border-bottom: 1px solid #dbdbdb
}

.neighborhood-guides h2 {
    color: #393c3d
    font-size: 24px
}

.neighborhood-guides p {
    font-size: 15px
    margin-bottom: 13px
}
.form > label
{
  float: left;
  clear: right;
}

.form > input
{
  float: right;
}
